<template>
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <div id="app">
    <vue-headless-upload
      :name="name"
      :postAction="postAction"
      :patchAction="patchAction"
      :customUploadMethod="customUploadMethod"
      :prepareRequestMethod="prepareRequestMethod"
      :disabled="disabled"
      :multiple="multiple"
      :maxFiles="maxFiles"
      v-slot="{ openFilePicker, fileUploads, hasFiles, dropTarget }"
      @exceededMax="handleExceededMax"
      @finishedUpload="handleFinishedUpload"
      @error="handleError"
      @uploadTooBig="handleUploadTooBig"
      :maxFileSize="maxFileSize"
      :axiosInstance="axiosIntance"
    >
    <!--  -->
      <div
        @click="openFilePicker"
        v-bind="dropTarget"
        class="relative justify-center px-6 pt-5 pb-6 border-2 border-gray-300 border-dashed rounded-md flex items-center w-full bg-blue-50"
      >
        <div class="upload space-y-1 text-center">
          <div class="">
            <svg
              version="1.1"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              class="mx-auto h-12 w-12 text-gray-400"
            >
              <g fill="none">
                <path d="M0 0h24v24h-24Z"></path>
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="1"
                  d="M12 19v-7"
                ></path>
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="1"
                  d="M9.833 14l2.167-2.167 2.167 2.167"
                ></path>
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="1"
                  d="M16 19h2.56c1.928 0 3.5-1.572 3.5-3.5 0-1.928-1.572-3.5-3.5-3.5h-.435v-1c0-3.31-2.69-6-6-6 -2.977 0-5.445 2.178-5.913 5.023 -2.377.121-4.272 2.07-4.272 4.477 4.44089e-16 2.485 2.015 4.5 4.5 4.5h1.56"
                ></path>
              </g>
            </svg>
            <div class="flex justify-center text-sm text-gray-600 mb-2">
              <p>
                Drop files here<br>or
              </p>

            </div>
          </div>
          <label for="file" class="link-sm">
            Selecteer bestanden
          </label>
        </div>
      </div>
      <div v-if="hasFiles" class="flex flex-col mt-2">
        <div class="max-w-full overflow-y-scroll">
          <div class="py-2 align-middle inline-block min-w-full">
            <div class="overflow-hidden border border-gray-200 rounded-md">
              <table class="min-w-full divide-y divide-gray-200">
                <thead class="bg-gray-50">
                  <tr>
                    <th
                      scope="col"
                      class="px-4 py-1.5 text-left text-xs font-medium text-gray-500 tracking-wider"
                    >
                      FileName
                    </th>
                    <th
                      scope="col"
                      class="px-4 py-1.5 text-left text-xs font-medium text-gray-500 tracking-wider"
                    >
                      FileSize
                    </th>
                    <th scope="col" class="relative px-4 py-3">
                      <span class="sr-only">Progress</span>
                    </th>
                    <th scope="col" class="relative px-4 py-3">
                      <span class="sr-only">Controls</span>
                    </th>
                  </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">
                  <tr v-for="(wrapper, i) in fileUploads" :key="i">
                    <td
                      class="px-4 py-3 whitespace-nowrap truncate ... text-xs font-medium text-gray-700"
                    >
                      {{ wrapper.fileName }}
                    </td>
                    <td class="px-4 py-3 whitespace-nowrap text-xs text-gray-500">
                      {{ wrapper.fileSizeFormatted }}
                    </td>
                    <td
                      class="px-4 py-3 whitespace-nowrap text-right text-xs font-medium"
                    >
                      {{ wrapper.progress }}
                      {{ wrapper.status }}
                    </td>
                     <td
                      class="px-4 py-3 whitespace-nowrap text-right text-xs font-medium"
                    >
                      <a @click.prevent="wrapper.cancelUpload()">Cancel Upload</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </vue-headless-upload>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import VueHeadlessUpload, { FileUpload } from '@/vue-headless-upload.vue';
import axios from "axios"

export default /*#__PURE__*/defineComponent({
  name: 'ServeDev',
  components: {
    VueHeadlessUpload
  },
  data() {
    return {
      axiosIntance: axios,
      name: "file", // file key for upload
      postAction: "http://localhost:8085/test/post", // url to post route
      patchAction: "", // url to patch route
      customUploadMethod: undefined, // function to do your own uploading
      disabled: false,
      multiple: true,
      maxFiles: 6,
      maxFileSize: 1024 * 1024 * Number.POSITIVE_INFINITY, // in B
    }
  },
  methods: {
    // Test methods
    prepareRequestMethod(file: File) {
      const formData  = new FormData();

      formData.append("TEST", "test2");
      formData.append("file", file);

      return formData
    },


    handleExceededMax({added, overMax}: {added:number, overMax: number}) {
      console.log(`Tried adding ${added + overMax} files. That's ${overMax} too many`);
    },
    handleUploadTooBig(fileUpload: FileUpload) {
      console.log(`Upload "${fileUpload.fileName}" too big (${fileUpload.fileSize}). Max is ${this.maxFileSize}`)
    },
    handleFinishedUpload(fileUpload: FileUpload) {
      console.log("Upload finished", fileUpload);
    },
    handleError(fileUpload: FileUpload) {
      console.log("Upload failed", fileUpload.errorMessage, fileUpload);
    },
  }
})
</script>