<template>
  <slot
    v-bind="{
      openFilePicker,
      fileUploads: fileQueue,
      hasFiles,
      dropAvailable: true,
      dropTarget: {
        onDrop: handleOnDrop,
        onDragenter: checkDrop,
        onDragover: checkDrop
      }
    }"
  />
  <input
    ref="fileInput"
    type="file"
    @change="handleFileChange"
    :disabled="disabled"
    class="hidden"
    :multiple="multiple"
  />
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue';
import {
  fileListToArray,
  PrepareRequestMethod
} from "./helpers/AutoFileUploadHelper";
import { FileUpload } from "./helpers/AutoFileUploadClass";
import { AxiosInstance } from 'axios';
import { requestHelperFactoryPatch, requestHelperFactoryPost } from "./helpers/request/RequestHelperFactory"

export { FileUpload, FileUploadStatus, FileUploadEventType } from "./helpers/AutoFileUploadClass";
export { PrepareRequestMethod } from "./helpers/AutoFileUploadHelper";

interface ComponentData {
  fileQueue: FileUpload[];
  eventListenerCallbacks: (() => void)[];
}

export type CustomUploadMethod = (fileUpload: FileUpload) => Promise<unknown>

export default /*#__PURE__*/defineComponent({
  props: {
    name: {
      type: String,
      default: "up_file"
    },
    postAction: {
      type: String,
      required: false
    },
    patchAction: {
      type: String,
      required: false
    },
    customUploadMethod: {
      type: Function as PropType<CustomUploadMethod>,
      required: false
    },
    prepareRequestMethod: {
      type: Function as PropType<PrepareRequestMethod>,
      required: false
    },
    disabled: Boolean,
    multiple: Boolean,
    maxFiles: {
      type: Number,
      required: false
    },
    maxFileSize: {
      type: Number,
      required: false
    },
    axiosInstance: {
      type: Function as PropType<AxiosInstance>,
      required: true // temporary until xml request helper is implemented
    }
  },
  emits: {
    exceededMax: (info: { added: number; overMax: number }) => typeof info?.added === "number" && typeof info.overMax === "number",
    startedUpload: (fileUpload: FileUpload) => fileUpload instanceof FileUpload,
    finishedUpload: (fileUpload: FileUpload) => fileUpload instanceof FileUpload,
    error: (fileUpload: FileUpload) => fileUpload instanceof FileUpload,
    uploadTooBig: (fileUpload: FileUpload) => fileUpload instanceof FileUpload,
  },
  data(): ComponentData {
    return {
      fileQueue: [],
      eventListenerCallbacks: []
    };
  },
  unmounted() {
    this.destroyFileUploadEventListerners();
  },
  computed: {
    hasFiles({fileQueue}: ComponentData): boolean {
      return fileQueue.length > 0;
    },
    hasNewFiles({fileQueue}: ComponentData): boolean {
      return fileQueue.some(fileUpload => fileUpload.status === "new");
    },
    newFiles({fileQueue}: ComponentData): FileUpload[] {
      return fileQueue.filter(fileUpload => fileUpload.status === "new");
    },
    fileInputEl(): HTMLInputElement {
      return this.$refs.fileInput as HTMLInputElement;
    },
    uploadMethod(): (fileUpload: FileUpload) => Promise<unknown> {
      if (this.customUploadMethod) {
        return this.customUploadMethod;
      } else if (this.patchAction) {
        const requestHelper = requestHelperFactoryPatch(
          this.patchAction,
          this.name,
          this.axiosInstance,
          this.prepareRequestMethod
        );

        return requestHelper.createUploadMethod();
      } else if (this.postAction) {
        const requestHelper = requestHelperFactoryPost(
          this.postAction,
          this.name,
          this.axiosInstance,
          this.prepareRequestMethod
        );

        return requestHelper.createUploadMethod();
      }
      throw new Error(
        "Please pass an postAction, patchAction or customUploadMethod to the AutoFileUpload component"
      );
    }
  },
  watch: {
    hasNewFiles(hasNewFiles: boolean) {
      if (hasNewFiles) {
        this.startUploads();
      }
    }
  },
  methods: {
    openFilePicker() {
      this.fileInputEl.click();
    },
    handleFileChange() {
      this.addFileListToQueue(this.fileInputEl.files);

      this.clearFilePicker();
    },
    handleOnDrop(e: DragEvent) {
      e.preventDefault();

      this.addFileListToQueue(e.dataTransfer?.files);
    },
    addFileListToQueue(fileList: FileList | null | undefined): void {
      const newFiles = fileListToArray(fileList);
      this.addFilesToQueue(newFiles);
    },
    addFilesToQueue(newFiles: (File | Blob)[]): void {
      const newFilesInWrapper = newFiles.map(file => new FileUpload(file));
      newFilesInWrapper.forEach(this.registerFileUploadEventListeners);

      newFilesInWrapper.forEach(fileUpload => fileUpload.checkFileSize(this.maxFileSize));  

      if (this.maxFiles) {
        const remaining = this.maxFiles - this.fileQueue.length;

        if (this.fileQueue.length > remaining) {
          this.$emit("exceededMax", {
            added: remaining,
            overMax: newFilesInWrapper.length - remaining
          });
          newFilesInWrapper.splice(remaining);
        }
      }
      this.fileQueue = [...this.fileQueue, ...newFilesInWrapper];
    },
    registerFileUploadEventListeners(fileUpload: FileUpload) {
      this.eventListenerCallbacks.push(
        fileUpload.addEventListener("error", this.handleUploadError),
        fileUpload.addEventListener("started", this.handleUploadStarted),
        fileUpload.addEventListener("completed", this.handleUploadCompleted),
        fileUpload.addEventListener("remove", this.handleRemoveFromQueue),
        fileUpload.addEventListener("tooBig", this.handleUploadTooBig)
      );
    },
    destroyFileUploadEventListerners() {
      this.eventListenerCallbacks.forEach(callback => callback());
    },
    handleUploadError(fileUpload: FileUpload) {
      this.$emit("error", fileUpload);
    },
    handleUploadTooBig(fileUpload: FileUpload) {
      this.$emit("uploadTooBig", fileUpload);
    },
    handleUploadStarted(fileUpload: FileUpload) {
      this.$emit("startedUpload", fileUpload);
    },
    handleUploadCompleted(fileUpload: FileUpload) {
      this.$emit("finishedUpload", fileUpload);
    },
    handleRemoveFromQueue(fileUpload: FileUpload) {
      this.removeFromQueue(fileUpload)
    },
    removeFromQueue(fileUpload: FileUpload) {
      this.fileQueue = this.fileQueue.filter(upload => upload.uid !== fileUpload.uid)
    },
    clearFilePicker() {
      this.fileInputEl.value = "";
    },
    startUploads() {
      this.newFiles.forEach(fileUpload => this.uploadMethod(fileUpload));
    },
    checkDrop(e: Event) {
      e.preventDefault();
    }
  }
});
</script>


<style scoped>
.hidden {
  display: none;
}
</style>